body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.calculator {
    width: 300px;
    background-color: #1d1e22;
    border-radius: 10px;
    margin: 20px auto;
    padding: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

input[type="text"] {
    width: 94%;
    padding: 10px;
    margin-bottom: 10px;
    border: none;
    border-radius: 5px;
    font-size: 24px;
    text-align: right;
    background-color: #2b2c31;
    color: #fff;
}

.button-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 5px;
}

button {
    padding: 15px;
    font-size: 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: #3b3c42;
    color: #fff;
    transition: background-color 0.3s ease-in-out;
}

button:hover {
    background-color: #515257;
}
